@page
@model realwork.Pages.User.SignUpModel
@using realwork.Localization;
@inject SharedLocalizer L

@{
    Layout = "_LayoutUser";
    ViewData["Title"] = "Home Page";
}

<h2 class="auth-header">@L["signup"]</h2>

<form method="post" class="auth-form">
    <div class="form-group">
        <label for="email">@L["email"]</label>
        <input id="email" name="Email" type="email" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="password">@L["password"]</label>
        <input id="password" name="Password" type="password" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="confirm">@L["passwordConfirm"]</label>
        <input id="confirm" name="ConfirmPassword" type="password" class="form-control" required />
    </div>
    <button type="submit" class="btn">@L["signup"]</button>
</form>